In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [3]:
premise_file = "../Resources/LicensePremise.csv"

In [4]:
county_file = "../Resources/CountyLicenseCount.csv"

### Transform premise DataFrame

In [7]:
premise_df = pd.read_csv(premise_file)


### Transform county DataFrame

In [60]:
county_df = pd.read_csv(county_file)

### Create database connection

In [61]:
db_connection = "postgres:aloha1993@localhost:5432/county"
engine = create_engine(f'postgresql://{db_connection}')

In [62]:
# Confirm tables
engine.table_names()

['county']

### Load DataFrames into database

In [63]:
county_df = county_df.rename(columns={"ID": "id", "County Name (Licensee)": "county_name", "County ID Code":"county_id_code", "License Count": "license_count"})

In [74]:
premise_df = premise_df.rename(columns={"County ID Code":"county_df","License Received":"license_received","License Certificate Number":"certificate_number","Premises Name":"premises_name","License Serial Number":"serial_number","License Received Date": "License Received"})
premise_df

,serial_number,premises_name,certificate_number,license_received,county_df
0,1311660,CANA ARRIBA GROCERY NO 2 INC,NaN,2018-06-29T00:00:00,0
1,1310023,JOHANA GROCERY & DELI CORP,NaN,2018-04-27T00:00:00,0
2,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
3,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
4,1311663,181 LEXINGTON AVENUE BBQ LLC,NaN,2018-06-29T00:00:00,2
5,1310029,AZIZ DELI & GRILL CORP,849225.0,2018-04-27T00:00:00,1
6,2213240,COOPERSTOWN BERT CORP,NaN,2018-06-29T00:00:00,3
7,2213242,DALE B HOLDERMAN,NaN,2018-06-29T00:00:00,4
8,1300091,TWO THOUSAND FIFTEEN ARTISANAL LLC,NaN,2018-05-17T00:00:00,2
9,1300091,TWO THOUSAND FIFTEEN ARTISANAL LLC,NaN,2018-05-17T00:00:00,2
10,1310030,NEW FUZHOU STYLE INC,NaN,2018-05-14T00:00:00,1
11,1310031,CAFE REGAL INC,NaN,2018-04-27T00:00:00,1
12,2213243,SRINIDHI LLC,NaN,2018-06-29T00:00:00,5
13,2209858,COLD SPRING GENERAL STORE LLC,NaN,2018-05-21T00:00:00,6
14,2212037,JORGE'S KITCHEN LLC,NaN,2018-04-27T00:00:00,7
15,1307023,JA EXPRESS FOOD CORP,882858.0,2018-05-02T00:00:00,8
16,1307023,JA EXPRESS FOOD CORP,882858.0,2018-05-02T00:00:00,8
17,1307145,TRINITA PARETE LLC,NaN,2018-04-23T00:00:00,2
18,1310640,ST MARKS CAFE LLC,NaN,2018-05-25T00:00:00,2
19,2210440,CANOE HILL VINEYARD LLC,898384.0,2018-05-02T00:00:00,9
20,1307243,CRESCENT ST PIZZERIA INC,NaN,2018-05-18T00:00:00,1
21,1307463,LA REGIA DELI RESTAURANT CORP,863381.0,2018-04-25T00:00:00,10
22,3160168,KIBLERS HARVESTER LLC,826406.0,2018-05-16T00:00:00,11
23,1307740,THOMPSON PIZZA LLC,824396.0,2018-05-03T00:00:00,2
24,1307789,RUSCHMEYER'S WINE LLC,NaN,2018-04-18T00:00:00,2
25,1307789,RUSCHMEYER'S WINE LLC,NaN,2018-04-18T00:00:00,2
26,1307834,LIQUOR LABORATORY INC,NaN,2018-05-16T00:00:00,2
27,1307984,THOMPSON PIZZA LLC,824392.0,2018-05-03T00:00:00,2
28,1308035,CABANA BREEZE INC,NaN,2018-06-20T00:00:00,1
29,2211119,DUTAN & DUFFY RESTAURANT INC,NaN,2018-05-16T00:00:00,12
...,...,...,...,...,...
1833,1311910,EL ENCUENTRO INC,NaN,2018-07-11T00:00:00,1
1834,2213414,SKANEATELES BREWERY LLC,NaN,2018-07-11T00:00:00,13
1835,1311911,HUDSON YARDS BY RHUBARB LLC,NaN,2018-07-11T00:00:00,2
1836,2213415,BRIAN BUNTING,NaN,2018-07-11T00:00:00,13
1837,2213416,SMOKIN BOOTS LLC,NaN,2018-07-11T00:00:00,9
1838,2213418,NO TIME NO MONEY LLC,NaN,2018-07-11T00:00:00,18
1839,2213420,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,9
1840,2213422,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,18
1841,3161354,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,17
1842,1311913,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,14
1843,1311914,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,1
1844,1311915,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,14
1845,1311916,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,20
1846,1311918,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,20
1847,1311920,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,8
1848,1311922,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,10
1849,1311924,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,8
1850,1311926,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,2
1851,1311927,CHIPOTLE MEXICAN GRILL OF COLORADO LLC,NaN,2018-07-11T00:00:00,8
1852,1311930,GOURMET SUTPHIN KING DELI CORP,NaN,2018-07-12T00:00:00,1
1853,1311933,GV BUSSOLA RESTAURANT CORP,NaN,2018-07-12T00:00:00,10
1854,1311935,TB CANTINA LLC,NaN,2018-07-12T00:00:00,2
1855,1311935,TB CANTINA LLC,NaN,2018-07-12T00:00:00,2
1856,1311937,HARLEM PRIME LLC,NaN,2018-07-12T00:00:00,2
1857,1311938,LHG RESTAURANT INC,NaN,2018-07-13T00:00:00,2
1858,1311940,H CITY DISCOUNT STORE INC,NaN,2018-07-13T00:00:00,14
1859,1311941,YONY P DELI CORP,NaN,2018-07-13T00:00:00,14
1860,2213432,JOSEPH SCHLEIMER,NaN,2018-07-13T00:00:00,12
1861,1311943,DAIRY SHACK LLC,NaN,2018-07-13T00:00:00,10
1862,1311944,TARTINERY LIBERTY LLC,NaN,2018-07-13T00:00:00,2

In [66]:
county_df.to_sql(name='county', con=engine, if_exists='append', index=False)

In [75]:
premise_df.to_sql(name='premise', con=engine, if_exists='append', index=False)