In [8]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

# import api_key from config file
from config import api_key

In [9]:
# Create a settings object with your API key and preferred units
settings = {"units": "metric", "appid": api_key}

In [20]:
# Get data for each city in cities.csv
weather_data = []
with open("cities.csv") as cities_file:
    cities_reader = csv.reader(cities_file)
    cities = [city[0] for city in cities_reader]
    weather_data = [ow.get_current(city, **settings) for city in cities]
weather_data

[{'coord': {'lon': 2.35, 'lat': 48.86},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'base': 'stations',
  'main': {'temp': 19.77,
   'pressure': 1019,
   'humidity': 42,
   'temp_min': 18.89,
   'temp_max': 20.56},
  'visibility': 10000,
  'wind': {'speed': 5.7, 'deg': 40},
  'clouds': {'all': 0},
  'dt': 1562614402,
  'sys': {'type': 1,
   'id': 6540,
   'message': 0.0072,
   'country': 'FR',
   'sunrise': 1562558154,
   'sunset': 1562615695},
  'timezone': 7200,
  'id': 2988507,
  'name': 'Paris',
  'cod': 200},
 {'coord': {'lon': -0.13, 'lat': 51.51},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'base': 'stations',
  'main': {'temp': 18.19,
   'pressure': 1021,
   'humidity': 68,
   'temp_min': 15.56,
   'temp_max': 20.56},
  'visibility': 10000,
  'wind': {'speed': 7.2, 'deg': 90},
  'rain': {'3h': 0.688},
  'clouds': {'all': 91},
  'dt': 1562613955,
  'sys': {'type': 1,
   'id': 1414,
   'message': 0.0099,
   'country': 'GB',
   'sunrise': 1562557973,
   'sunset': 1562617067},
  'timezone': 3600,
  'id': 2643743,
  'name': 'London',
  'cod': 200},
 {'coord': {'lon': 10.74, 'lat': 59.91},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'base': 'stations',
  'main': {'temp': 15.9,
   'pressure': 1012,
   'humidity': 62,
   'temp_min': 13.89,
   'temp_max': 18.89},
  'visibility': 10000,
  'wind': {'speed': 4.1, 'deg': 10},
  'clouds': {'all': 0},
  'dt': 1562614316,
  'sys': {'type': 1,
   'id': 1624,
   'message': 0.0077,
   'country': 'NO',
   'sunrise': 1562551722,
   'sunset': 1562618099},
  'timezone': 7200,
  'id': 3143244,
  'name': 'Oslo',
  'cod': 200},
 {'coord': {'lon': 116.39, 'lat': 39.91},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}],
  'base': 'stations',
  'main': {'temp': 25.22,
   'pressure': 1006,
   'humidity': 83,
   'temp_min': 23,
   'temp_max': 26.67},
  'visibility': 10000,
  'wind': {'speed': 1, 'deg': 150},
  'clouds': {'all': 0},
  'dt': 1562614535,
  'sys': {'type': 1,
   'id': 9609,
   'message': 0.0068,
   'country': 'CN',
   'sunrise': 1562619213,
   'sunset': 1562672709},
  'timezone': 28800,
  'id': 1816670,
  'name': 'Beijing',
  'cod': 200},
 {'coord': {'lon': 37.62, 'lat': 55.75},
  'weather': [{'id': 520,
    'main': 'Rain',
    'description': 'light intensity shower rain',
    'icon': '09n'}],
  'base': 'stations',
  'main': {'temp': 15.64,
   'pressure': 1002,
   'humidity': 72,
   'temp_min': 14,
   'temp_max': 17.78},
  'visibility': 10000,
  'wind': {'speed': 2, 'deg': 320},
  'clouds': {'all': 75},
  'dt': 1562614032,
  'sys': {'type': 1,
   'id': 9029,
   'message': 0.0085,
   'country': 'RU',
   'sunrise': 1562547366,
   'sunset': 1562609551},
  'timezone': 10800,
  'id': 524901,
  'name': 'Moscow',
  'cod': 200},
 {'coord': {'lon': 131.89, 'lat': 43.12},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02n'}],
  'base': 'stations',
  'main': {'temp': 15,
   'pressure': 1011,
   'humidity': 100,
   'temp_min': 15,
   'temp_max': 15},
  'visibility': 9000,
  'wind': {'speed': 2, 'deg': 90},
  'clouds': {'all': 20},
  'dt': 1562614535,
  'sys': {'type': 1,
   'id': 8885,
   'message': 0.0112,
   'country': 'RU',
   'sunrise': 1562614860,
   'sunset': 1562669621},
  'timezone': 36000,
  'id': 2013348,
  'name': 'Vladivostok',
  'cod': 200},
 {'coord': {'lon': 135.5, 'lat': 34.7},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'base': 'stations',
  'main': {'temp': 22.35,
   'pressure': 1005,
   'humidity': 100,
   'temp_min': 20.56,
   'temp_max': 23.89},
  'visibility': 10000,
  'wind': {'speed': 1.5, 'deg': 230},
  'clouds': {'all': 90},
  'dt': 1562614535,
  'sys': {'type': 1,
   'id': 7962,
   'message': 0.0076,
   'country': 'JP',
   'sunrise': 1562615513,
   'sunset': 1562667236},
  'timezone': 32400,
  'id': 1853909,
  'name': 'Osaka',
  'cod': 200},
 {'coord': {'lon': -157.86, 'lat': 21.3},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'base': 'stations',
  'main': {'temp': 28.01,
   'pressure': 1016,
   'humidity': 62,
   'temp_min': 25,
   'temp_max': 30.56},
  'visibility': 16093,
  'wind': {'speed': 5.1, 'deg': 60, 'gust': 9.8},
  'clouds': {'all': 40},
  'dt': 1562614421,
  'sys': {'type': 1,
   'id': 7878,
   'message': 0.0064,
   'country': 'US',
   'sunrise': 1562601318,
   'sunset': 1562649439},
  'timezone': -36000,
  'id': 5856195,
  'name': 'Honolulu',
  'cod': 200},
 {'coord': {'lon': -95.72, 'lat': 44.94},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'base': 'stations',
  'main': {'temp': 27.93,
   'pressure': 1014,
   'humidity': 54,
   'temp_min': 26,
   'temp_max': 29.44},
  'visibility': 16093,
  'wind': {'speed': 5.7, 'deg': 200},
  'clouds': {'all': 1},
  'dt': 1562614536,
  'sys': {'type': 1,
   'id': 5004,
   'message': 0.0093,
   'country': 'US',
   'sunrise': 1562582675,
   'sunset': 1562638253},
  'timezone': -18000,
  'id': 5038018,
  'name': 'Montevideo',
  'cod': 200},
 {'coord': {'lon': 44.01, 'lat': 36.19},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}],
  'base': 'stations',
  'main': {'temp': 30,
   'pressure': 1003,
   'humidity': 20,
   'temp_min': 30,
   'temp_max': 30},
  'visibility': 10000,
  'wind': {'speed': 1.5, 'deg': 330},
  'clouds': {'all': 0},
  'dt': 1562614536,
  'sys': {'type': 1,
   'id': 7600,
   'message': 0.0088,
   'country': 'IQ',
   'sunrise': 1562550806,
   'sunset': 1562603045},
  'timezone': 10800,
  'id': 95446,
  'name': 'Erbil',
  'cod': 200}]

In [18]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
summary = ["main.temp", "coord.lat", "coord.lon"]

# Create a Pandas DataFrame with the results
data = [response(*summary) for response in weather_data]

weather_data = pd.DataFrame(data, index=cities)
weather_data

                 0      1       2
Paris        19.77  48.86    2.35
London       18.19  51.51   -0.13
Oslo         15.90  59.91   10.74
Beijing      25.22  39.91  116.39
Moscow       15.64  55.75   37.62
Vladivostok  15.00  43.12  131.89
Osaka        22.35  34.70  135.50
Honolulu     28.01  21.30 -157.86
Montevideo   27.93  44.94  -95.72
Erbil        30.00  36.19   44.01

In [5]:
# BONUS:
column_names = ["Temperature", "Latitude", "Longitude"]
weather_data = pd.DataFrame(data, index=cities, columns=column_names)
weather_data

             Temperature  Latitude  Longitude
Paris               6.37     48.86       2.35
London              5.53     51.51      -0.13
Oslo               -3.00     59.91      10.74
Beijing             9.00     39.91     116.39
Moscow             -3.50     55.75      37.62
Vladivostok         1.00     43.12     131.89
Osaka               7.00     34.70     135.50
Honolulu           26.75     21.30    -157.86
Montevideo          0.55     44.94     -95.72
Erbil              15.00     36.19      44.01